<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/stylesheets/style.css" />
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="https://api.trello.com/1/client.js?key=bc2746ad21a253b505fa27438f1fa256"></script>
	</head>
	<body>
		<button id="auth">auth</button>
		<button id="create">create</button>
		<table id="issueTracker">
			<thead>
				<th>Issue Name</th>
				<th>Date</th>
				<th>Source</th>
				<th>Contact</th>
				<th>Type</th>
				<th>Team</th>
				<th>Trello Link</th>
				<th>Status</th>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</body>
	<script type="text/javascript" src="/static/javascripts/index.js"></script>
</html>